[submodule "shell-here"]
	path = shell-here
	url = https://github.com/ieure/shell-here.git
[submodule "dired-du"]
	path = dired-du
	url = https://github.com/calancha/dired-du.git
[submodule "json-sexp-mode"]
	path = json-sexp-mode
	url = https://github.com/TaylanUB/json-sexp-mode.git
